.restaurant-detail-page {
  display: flex;
  justify-content: space-between;
  gap: $gap-3;
  &__left {
    display: flex;
    flex-direction: column;
    gap: $gap-3;
    width: calc(65% - 12px);
    min-height: 1vh;
    height: 100%;
  }
  &__right {
    position: sticky;
    top: 0;
    width: 35%;
    min-height: 1vh;
    height: 100%;
    // flex-shrink: 0;
  }
}

@include tablet {
  .restaurant-detail-page {
    flex-direction: column;
    &__left {
      width: 100%;
    }
    &__right {
      width: 100%;
    }
  }
}
