.owner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #2d3539;
  color: #fff;
  padding: 8px 16px;

  &__left {
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 14px;
  }

  &__user {
    font-weight: 500;
  }

  &__item {
    padding: 8px;
  }
}
