.owner-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d3539;
  color: #fff;
  height: 90px;
  &__left {
    width: 200px;
    display: flex;
    justify-content: center;
    background-color: #fff;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 14px;
    margin-right: 16px;
  }

  &__user {
    font-weight: 500;
  }

  &__item {
    padding: 8px;
  }
}
