.mypage-layout {
  .inner {
    display: flex;
    flex-direction: row;
  }
}

.mypage-content {
  width: calc(100% - 200px);
  padding: 28px 28px 0;
  background-color: #fff;
}

.mypage-cover {
  min-height: 50vh;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid $borderColor;
}
