.mypage-layout {
  display: flex;
  height: 100vh;
  background-color: #999;
  .inner {
    background-color: #888;
    width: 100%;
  }
}

.mypage-content {
  background-color: #edf0f5;
  padding: 20px;
  width: 100%;
}
